@{
    ViewData["Title"] = "About";
}

<div class="main-content mt-20 ov-hidden">
    <div class="col-md-8 sm-padding">
                        
                   
                        
        <div class="news-block padding-15 bg-white bd-grey">
            <h2 class="block-heading mb-40">A Newspaper for IoT?</h2>
            <div class="news-items">
                <div class="col-xs-12 padding-10">
                                    
                                        
                                        
                    <p class="fz-13">
                        We are a curated website and email subscription service focused on current trends about Internet of Things. 
                        News, IoT Platforms, Strategies, Use Cases focused on Internet of Things Market. We will be the easiest way to you become updated. 
                    </p><p class="fz-13">
                        We'll keep you posted about the main headlines. If you are a C-Level or an IoT Product Owner, this is the place for you, but no worries if if you are a technical guy, we also will have categories for developers and hardware / software Engineers and Architects.  
                    </p><p class="fz-13">
                        Free Forever! Just subscribe our newsletter and receive a weekly compiled bulletin. 
                    </p><p class="fz-13">
                        IoT Newspaper Team. 
                    </p>
                                    
                                    
                </div>
                               
            </div>
        </div><!-- /.news-block -->
                        
    </div><!-- content block -->
    
    
    
    <aside class="col-md-4 sm-padding">
        <div class="sidebar-wrap">

            <div class="single-sidebar">
                <h3 class="fw-8 fz-18 tt-u mb-30">Keep in touch</h3>
                <form action="#" class="subscribe-form">
                    <a href="https://goo.gl/forms/b3ltpjtSOtrWdxCj2" target="_blank">
                        <input class="b-btn" type="button" value="Subscribe">
                    </a>
                </form>
            </div>

        </div>
    </aside>

</div>